/* Headline */
h2, h3, h4 {
    @apply py-4 font-bold;
}

h4 {
    @apply text-2xl;
}

h3 {
    @apply text-3xl;
}

h2 {
    @apply text-4xl;
}

/* Scroll top */
.scrolltop {
    @apply fixed right-4 bottom-[-20%] flex justify-center items-center p-[0.3rem] bg-green-600 rounded-lg z-10 transition-all duration-300 ease-out invisible;
}

.scrolltop:hover {
    @apply bg-green-700;
}

.scrolltop__icon {
    @apply text-2xl text-white;
}

/* Show scrolltop */
.scroll-top {
    @apply visible bottom-6;
}

/* Loading */
#loading {
    @apply fixed top-0 left-0 z-[99] flex justify-center items-center w-full h-full bg-[#000210];
}

#loading-logo {
    @apply z-[100] text-[2rem];
}

#loading-spinner {
    @apply z-[100] w-7 h-7 rounded-full border-[6px] border-transparent border-b-green-600 border-r-green-600;
    animation: spinner 400ms linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(360deg);
    }
}

/* Container */
.container {
    @apply mx-auto max-w-7xl px-2;
}

@media(min-width:640px) {
    .container {
        @apply px-6;
    }
}

@media(min-width:1024px) {
    .container {
        @apply px-8;
    }
}

/* Table */
.table {
    @apply w-full text-sm text-left bg-[#1a1c23] text-gray-400;
}

.table thead {
    @apply text-xs uppercase text-white;
}

.table thead tr {
    @apply border-b border-gray-800;
}

.table tbody {
    @apply divide-y divide-gray-800
}

.table th, .table td {
    @apply p-4;
}

.table td:first-child {
    @apply font-medium text-white;
}

.table a {
    @apply p-2 rounded-lg font-medium text-gray-400 hover:text-white focus:outline-none focus:ring focus:ring-gray-400;
}

/* Form */
.form-group-custom {
    @apply text-sm mb-4;
}

.form-label-custom {
    @apply block text-gray-400;
}

.form-input-custom {
    @apply block w-full mt-1 rounded text-gray-300 bg-[#24262d] form-input focus:outline-none focus:ring focus:ring-gray-400 focus:border-gray-400;
}

.form-error-custom {
    @apply font-medium text-red-400;
}

/* Card */
.card {
    @apply shadow-md sm:rounded-lg overflow-hidden;
}

/* Hidden alpine */
[x-cloak] { display: none; }