/* Headline */
h2, h3, h4 {
    @apply py-4 font-bold;
}

h4 {
    @apply text-2xl;
}

h3 {
    @apply text-3xl;
}

h2 {
    @apply text-4xl;
}

/* Scroll top */
.scrolltop {
    @apply fixed right-4 bottom-[-20%] flex justify-center items-center p-[0.3rem] bg-green-600 rounded-lg z-10 transition-all duration-300 ease-out invisible;
}

.scrolltop:hover {
    @apply bg-green-700;
}

.scrolltop__icon {
    @apply text-2xl text-white;
}

/* Show scrolltop */
.scroll-top {
    @apply visible bottom-6;
}

/* Container */
.container {
    @apply mx-auto max-w-7xl px-2;
}

@media(min-width:640px) {
    .container {
        @apply px-6;
    }
}

@media(min-width:1024px) {
    .container {
        @apply px-8;
    }
}

/* Table */
.table {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table tbody tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
}

.table th, .table td {
    @apply px-6 py-3;
}

.table td:first-child {
    @apply font-medium text-gray-900 dark:text-white;
}

.table a {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
}

/* Card */
.card {
    @apply shadow-md sm:rounded-lg;
}